body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--registration1-color);
    color: var(--login1-color);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.payment-container {
    position: relative;
    width: 22.2rem;
    z-index: 1;
}

.illustration {
    position: absolute;
    top: -14%;
    right: -2px;
    width: 90%;
}

.form-container {
    position: relative;
    border: 1px solid var(--registration5-color);
    box-shadow: 0 0 36px 1px var(--card-border-hover-color);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 3;
    padding: 2rem;
    background: var(--buynow1-color);
}

.payment-container form input {
    display: block;
    width: 100%;
    padding: 14.5px;
    margin: 1rem 0;
    color: var(--registration1-color);
    background-color: var(--login3-color);
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 4; 
}

.payment-container form .input-row {
    display: flex;
    gap: 1rem;
}

.payment-container form .input-row input {
    flex: 1;
}

.payment-container form input:focus {
    box-shadow: 0 0 16px 1px var(--card-border-hover-color);
    animation: wobble 0.3s ease-in;
}

.payment-container form button {
    background-color: var(--login2-color);
    color: var(--login1-color);
    display: block;
    width: 100%;
    padding: 13px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: relative; 
    z-index: 4;
}

.payment-container form button:hover {
    box-shadow: 0 0 10px 1px var(--card-box-shadow);
    transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    background: var(--login2-color);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
    }
    25% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
}
@media screen and (max-width: 550px) {
    .circle-one {
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(0%, -45%);
    }

    .circle-two {
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: translate(0%, 45%);
    }
}