.top {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.topleft {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.tl1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}


.bi {
    color: var(--text-color);
}

.tl2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.tl2 svg,
.tl1 svg {
    vertical-align: middle;
    transform: translateY(-8px);
}

.line p {
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.168);
    display: flex;
    align-items: center;
    text-align: center;
}

.svg {
    max-width: 20px;
}



.dropdown button {
    display: flex;
    gap: 5px;
    background: transparent;
    color: var(--text-color);
    border: none;
    align-items: center;

}

.topright {
    display: flex;
    align-items: center;
    text-align: center;
}

t .line2 p {
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.164);
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: var(--background-color);
}

.custom-svg {
    fill: var(--text-color);

}

.custom-svg .text-primary {
    fill: var(--text-color);
}

.custom-svg path {
    stroke: var(--text-color);
    stroke-width: 1px;
}

.custom-svg:hover .text-primary {
    fill: var(--text-color);
}

.btn {
    background-color: var(--background-color);
}

.hm {
    display: flex;
    gap: 20px;
}

.navsvg {
    display: flex;
    gap: 20px;
}

.navsvg a {
    cursor: pointer;
}

.shop {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.amount {
    position: relative;
    top: -15px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--burger-color);
    color: var(--item-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenu {
    display: none;
}

.burgerMenuContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burger {
    width: 22px;
    height: 2px;
    background-color: var(--burger-color);
    color: var(--burger-color);
}



.smallScreen {
    display: none;
}

.dropstart button {
    display: flex;
    gap: 5px;
    background: transparent;
    color: var(--text-color);
    border: none;
    align-items: center;
}

@media screen and (max-width:1100px) {

    .hm {
        display: none;
    }

    .hl {
        transition: 0.5s;
    }

    .burgerMenu {
        display: block;
        cursor: pointer;
        transition: 0.5s;
        color: var(--text-color);

    }

    .smallScreen.isActive {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        z-index: 99;
        top: 130px;
        right: 0px;
        padding-right: 13px;
        align-items: end;
        opacity: 1;
        background-color: var(--background-color);
        border-radius: 0px 0px 0px 10px;
    }
}

@media screen and (max-width:800px) {

    .phone_number,
    .shipping {
        display: none;
    }

    .tl1:hover .phone_number,
    .tl2:hover .shipping {
        display: block;
        font-size: small;
    }

    .btn:hover {

        opacity: 0.5;
    }
}




.burgerMenuContainer.open .burger:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.5s;
}

.burgerMenuContainer.open .burger:nth-child(2) {
    opacity: 0;
    transition: 0.5s;

}

.burgerMenuContainer.open .burger:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.5s;

}

.burgerMenuContainer .burger:nth-child(1) {
    transition: 0.5s;
}

.burgerMenuContainer .burger:nth-child(2) {
    transition: 0.5s;

}

.burgerMenuContainer .burger:nth-child(3) {
    transition: 0.5s;

}


.smallScreen .btn-group.dropstart .dropdown-menu {
    transform-origin: top left;
    transform: translate(-25%, 20%);
    background-color: var(--background-color);
    color: var(--text-color);

}


.dropdown-menu li a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.dropdown button {
    background-color: var(--background-color) !important;
    border-radius: 10px 10px 0px 0px !important;

}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 0px 0px 10px 10px !important;
}


.dropdown-menu {
    background-color: var(--background-color);
    color: var(--text-color);
}



.btn-group.dropstart:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.btn-group.dropstart .dropdown-menu {
    left: 0;
}

.hl svg {
    cursor: pointer;
}

/* -----------dark--------------------- */
.checkbox-wrapper-5 .check {
    --size: 30px;
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label {
    background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}

#google_translate_element {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.goog-logo-link,
.goog-te-gadget span {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}
