<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>

        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                alt="illustration" class="illustration" />

            <h1>RESET PASSWORD</h1>

            <!-- RESET PASSWORD FORM -->
            <form [formGroup]="form" (ngSubmit)="submit()">
                <input type="email" [value]="email" readonly placeholder="EMAIL" />

                <input type="password" placeholder="NEW PASSWORD" formControlName="newPassword" />

                <input type="password" placeholder="CONFIRM PASSWORD" formControlName="confirmPassword" />

                <small *ngIf="submitted && form.errors?.['notMatching']" class="error">
                    Passwords do not match
                </small>

                <button class="opacity" type="submit" [disabled]="loading">
                    {{ loading ? 'PROCESSING...' : 'SUBMIT' }}
                </button>
            </form>
            <div class="register-forget opacity">
                <a routerLink="/registration">REGISTER</a>
                <a routerLink="/log-in">BACK TO LOGIN</a>
            </div>
        </div>

        <div class="circle circle-two"></div>
    </div>
</section>