<div class="page1">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slider">
          <div class="slidertext">
            <h3 class="st1">S P E C I A L</h3>
            <h1>Ethnic blouses</h1>
            <p>Explore our stunning collection of women’s ethnic blouses, featuring vibrant designs, intricate
              crafts- manship, and timeless elegance.</p>
            <button routerLink="/women-tops"> V I E W <span>C O L L E C T I O N </span></button>
          </div>
          <img src="slider/circle-slider-3.png" class="slider1" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider">
          <img src="slider/circle-slider-2.png" class="slider1" alt="...">
          <div class="slidertext2">
            <h3 class="st2">J U S T <Span>A R R I V E D</Span></h3>
            <h1>Trigerrrs College Jackets</h1>
            <p>Stylish Trigerrrs college jackets: bold designs, premium quality, ultimate comfort.</p>
            <button routerLink="/women-tops"> V I E W <span>C O L L E C T I O N </span></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider">
          <div class="slidertext3">
            <h3 class="st3">S P E C I A L</h3>
            <h1>Autumn-colour coats</h1>
            <p>Embrace the season with autumn-color coats: rich hues, timeless elegance, cozy warmth, and effortless
              sophistication.</p>
            <button routerLink="women-tops"> V I E W <span>C O L L E C T I O N </span></button>
          </div>
          <img src="slider/circle-slider-1.png" class="slider1" alt="...">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="arrow" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="arrow" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </span>
    </button>
  </div>
</div>
<div class="page2">
  <div class="page2_container">
    <h4>TOP CHOICES</h4>
    <h2>Popular this week</h2>
    <h5>Step into style with this week's favorite shoes! Whether it’s the timeless classic leather sneakers, rugged
      trail running shoes, chic ankle boots, or iconic Chelsea boots, these top choices are perfect for adding flair and
      functionality to your footwear collection.</h5>
  </div>
</div>
<div class="page3_container">
  <div class="page3">
    <div class="page3t">
      <div class="p3tl">
        <img src="colection/bag 1.png" alt="">
        <div class="p3tlt">
          <h2>Printed Blouse</h2>
          <p>$30</p>
          <a (click)="viewItemDetails(34)">SHOP NOW</a>
        </div>
      </div>
      <div class="p3tr">
        <img src="colection/girl_1.png" alt="">
        <div class="p3tlt1">
          <h2>Sweaters for her</h2>
          <p>$20</p>
          <a (click)="viewItemDetails(42)">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="page3m">
      <div class="p3ml">
        <img src="colection/girl_2.png" alt="">
        <div class="p3mlt">
          <h1>Skeleton Tees</h1>
          <p>$39.90</p>
          <a (click)="viewItemDetails(48)">SHOP NOW</a>
        </div>
      </div>
      <div class="p3mr">
        <img src="colection/ro8.png" alt="">
        <div class="p3mlt1">
          <h1>Graphic Logo Tee</h1>
          <p>$35</p>
          <a (click)="viewItemDetails(50)">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="page3b">
      <div class="p3bl">
        <img src="colection/ro9.png" alt="">
        <div class="p3blt">
          <h1>Silk Cami Top</h1>
          <p>$149.90</p>
          <a (click)="viewItemDetails(50)">SHOP NOW</a>
        </div>
      </div>
      <div class="p3br">
        <img src="colection/girl_3.png" alt="">
        <div class="p3brt">
          <h1>Ethnic design everywhere </h1>
          <p>$39.90</p>
          <a (click)="viewItemDetails(43)">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page4">
  <section class="page4main">
    <div class="page4left">
      <h2>FINAL SALES</h2>
      <p>Up to</p>
      <h1>70%</h1>
      <p>* Free shipping on orders over $70.</p>
      <button routerLink="/women-tops">SHOP NOW</button>
    </div>
    <div class="page4right">
      <img src="colection/sale-circle.jpg" alt="">
    </div>
  </section>
</div>
<div class="page5">
    <h1 class="page5title">Clothes</h1>
  <section class="page5_main carousel">
    <button class="carousel-control prev" (click)="scrollCarousel(-1)">‹</button>
    <div class="carousel-track">
      <div *ngFor="let item of clothes" class="card_container" (click)="viewItemDetails(item.id)">
        <div class="card">
          <img [src]="item.picture" [alt]="item.name" class="cardimage" />
          <div class="cardhover">
          </div>
          <p>
            {{ item.productTypeName }} <br />
            <span>{{ item.name }}</span><br />${{ item.price }}
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="scrollCarousel(1)">›</button>
  </section>
</div>
<div class="page5">
  <h1 class="page5title">Shoes</h1>
  <section class="page5_main carousel">
    <button class="carousel-control prev" (click)="scrollCarousel(-1)">‹</button>
    <div class="carousel-track">
      <div *ngFor="let item of shoes" class="card_container" (click)="viewShoesDetials(item.id)">
        <div class="card">
          <img [src]="item.picture" [alt]="item.name" class="cardimage" />
          <div class="cardhover">
          </div>
          <p>
            {{ item.productTypeName }} <br />
            <span>{{ item.name }}</span><br />${{ item.price }}
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="scrollCarousel(1)">›</button>
  </section>
</div>
<div class="page6">
  <section class="p6m">
    <aside class="p6">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" class="bi bi-truck" viewBox="0 0 16 16">
        <path
          d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
      </svg>
      <div class="p61">
        <h6>Free shipping & return</h6>
        <p>Free Shipping over $300</p>
      </div>
    </aside>
    <aside class="p6">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" class="bi bi-coin" viewBox="0 0 16 16">
        <path
          d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z" />
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12" />
      </svg>
      <div class="p61">
        <h6>Money back guarantee</h6>
        <p>30 Days Money Back Guarantee</p>
      </div>
    </aside>
    <aside class="p6">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" class="bi bi-telephone" viewBox="0 0 16 16">
        <path
          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
      </svg>
      <div class="p61">
        <h6>020-800-456-747</h6>
        <p>24/7 Available Support</p>
      </div>
    </aside>
  </section>
</div>


<div class="scroll_to_top" *ngIf="showScrollToTop">
  <a (click)="scrollToTop()">
    <svg class="stp" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="pink" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
    </svg>
  </a>
</div>